@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Nunito");
pre {
  font-family: "Inconsolata", monospace; }

abbr {
  text-decoration: none;
  border-bottom: 0.05em dotted #999; }

* {
  margin: 0;
  padding: 0; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  width: 100vw; }
  .main .range {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    align-item: center; }
    .main .range .searchButton {
      background-color: white;
      width: 2em;
      border: none;
      outline: none; }
    .main .range .searchIcon {
      stroke: transparent;
      fill: darkgray; }
    .main .range input {
      font-size: large;
      border: none;
      outline: none; }

.headerBar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #003D5E;
  margin: 0;
  padding: 0.5em; }
  .headerBar .title {
    font-size: x-large;
    font-weight: bold; }
  .headerBar img {
    height: 2em;
    padding-right: 2em; }
  .headerBar div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5em; }
  @media screen and (min-width: 650px) {
    .headerBar {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      .headerBar img {
        height: 2em; }
      .headerBar div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        align-items: center;
        margin-right: 2.5em;
        width: inherit; } }

.object {
  margin: 5em; }

.historyPane {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
  min-width: 0;
  min-height: 0;
  height: 100%; }
  @media screen and (min-width: 800px) {
    .historyPane {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .historyPane .objectList {
    display: none; }
    @media screen and (min-width: 800px) {
      .historyPane .objectList {
        display: block;
        background-color: #f4f4f4;
        margin: 0;
        padding: 1em 0 0 0;
        border-right: 1px solid #e5e3e3;
        font-size: small;
        list-style: none;
        overflow-y: auto;
        cursor: default;
        -webkit-flex-shrink: 0;
        -moz-flex-shrink: 0;
        -ms-flex-shrink: 0;
        flex-shrink: 0; }
        .historyPane .objectList li {
          padding: 0.25em 1em;
          margin: 0; }
          .historyPane .objectList li:hover {
            background-color: #cfcfcf; }
          .historyPane .objectList li.selected {
            background-color: #a9c1d6; } }
  .historyPane .objectListMobile {
    display: flex;
    justify-content: space-around;
    flex: 0 0 auto;
    padding: 0.5em;
    color: white;
    background: darkgray; }
    @media screen and (min-width: 800px) {
      .historyPane .objectListMobile {
        display: none; } }
  .historyPane .detailPanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%; }
    .historyPane .detailPanel .detailPanelMain {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow: hidden;
      flex-wrap: nowrap; }
      @media screen and (min-width: 800px) {
        .historyPane .detailPanel .detailPanelMain {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row; } }
  .historyPane .navPanel {
    display: none; }
    @media screen and (min-width: 800px) {
      .historyPane .navPanel {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        flex: 0 0 auto;
        width: 6em; } }
    .historyPane .navPanel .navPanelItem {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-items: center; }
  .historyPane .navBottomPanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex: 0 0 auto;
    height: 5em;
    justify-content: space-around; }
    @media screen and (min-width: 800px) {
      .historyPane .navBottomPanel {
        display: none; } }
    .historyPane .navBottomPanel button {
      margin-right: 0.6em;
      margin-left: 0.6em; }
  .historyPane .detailCenterPanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    flex: 5 1 auto;
    height: 100%;
    overflow: hidden; }
  .historyPane .versionDatesPanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: nowrap;
    color: white;
    background-color: #006FAB;
    height: 1.4em;
    align-items: center;
    flex: 0 0 auto;
    font-size: 3.5vw;
    padding-right: 0.6em;
    padding-left: 0.6em;
    cursor: default; }
    @media screen and (min-width: 800px) {
      .historyPane .versionDatesPanel {
        padding-right: 0;
        padding-left: 0; } }
    @media screen and (min-width: 400px) {
      .historyPane .versionDatesPanel {
        font-size: inherit; } }
    .historyPane .versionDatesPanel .versionDateItem, .historyPane .versionDatesPanel .versionDateLeft, .historyPane .versionDatesPanel .versionDateCenter, .historyPane .versionDatesPanel .versionDateRight {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      flex: 1;
      justify-content: center; }
      .historyPane .versionDatesPanel .versionDateItem .dateLong, .historyPane .versionDatesPanel .versionDateLeft .dateLong, .historyPane .versionDatesPanel .versionDateCenter .dateLong, .historyPane .versionDatesPanel .versionDateRight .dateLong {
        display: none; }
      @media screen and (min-width: 1000px) {
        .historyPane .versionDatesPanel .versionDateItem .dateLong, .historyPane .versionDatesPanel .versionDateLeft .dateLong, .historyPane .versionDatesPanel .versionDateCenter .dateLong, .historyPane .versionDatesPanel .versionDateRight .dateLong {
          display: inline; }
        .historyPane .versionDatesPanel .versionDateItem .dateShort, .historyPane .versionDatesPanel .versionDateLeft .dateShort, .historyPane .versionDatesPanel .versionDateCenter .dateShort, .historyPane .versionDatesPanel .versionDateRight .dateShort {
          display: none; } }
    .historyPane .versionDatesPanel .versionDateLeft span {
      margin-right: auto; }
    .historyPane .versionDatesPanel .versionDateRight span {
      margin-left: auto; }
    .historyPane .versionDatesPanel .flipShowVersionButton, .historyPane .versionDatesPanel .pressedFlipShowVersionButton {
      background: transparent;
      border: none;
      outline: none;
      vertical-align: middle;
      cursor: pointer;
      display: none;
      -webkit-backface-visibility: hidden; }
      .historyPane .versionDatesPanel .flipShowVersionButton svg, .historyPane .versionDatesPanel .pressedFlipShowVersionButton svg {
        transform: rotate(0deg);
        transition: transform 1s ease-in-out; }
      @media screen and (min-width: 400px) {
        .historyPane .versionDatesPanel .flipShowVersionButton, .historyPane .versionDatesPanel .pressedFlipShowVersionButton {
          display: inline; } }
    .historyPane .versionDatesPanel .pressedFlipShowVersionButton svg {
      transform: rotate(540deg);
      transition: transform 1s ease-in-out; }
    .historyPane .versionDatesPanel .moreIconSvg {
      fill: white;
      width: 1.2em;
      height: 1.2em;
      margin-left: 0.5em; }
  .historyPane .versionDateDetailPanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    background: #545454;
    color: white;
    transition: height 0.5s;
    border-radius: 0px 0px 15px 15px; }
  .historyPane .showPanel {
    height: 1.4em;
    flex: 0 0 auto;
    font-size: smaller;
    display: none; }
    @media screen and (min-width: 400px) {
      .historyPane .showPanel {
        display: inherit; } }
  .historyPane .hidePanel {
    height: 0em;
    flex: 0 0 auto; }
  .historyPane .arrowButton {
    flex: 0 0 auto;
    align-self: center;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer; }
    .historyPane .arrowButton:enabled {
      transition-duration: 0.3s; }
      .historyPane .arrowButton:enabled path {
        transition: stroke-width 0.5s ease-in-out, stroke 0.3s ease-out; }
        @media screen and (min-width: 800px) {
          .historyPane .arrowButton:enabled path:hover {
            stroke-width: 13; } }
        .historyPane .arrowButton:enabled path:active {
          stroke: rgba(0, 0, 0, 0.5);
          stroke-width: 3; }
    .historyPane .arrowButton:disabled {
      transition-duration: 0.3s;
      opacity: 0.4;
      cursor: not-allowed; }
  .historyPane .arrow, .historyPane .rightArrow, .historyPane .leftArrow {
    stroke: black;
    height: 5em; }
    @media screen and (min-width: 800px) {
      .historyPane .arrow, .historyPane .rightArrow, .historyPane .leftArrow {
        height: 7.5em; } }
  .historyPane .leftArrow {
    transform: rotate(180deg); }
  .historyPane .lockButton, .historyPane .lockedButton, .historyPane .unlockedButton {
    flex: 0 0 auto;
    margin-top: 1em;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer; }
    @media screen and (min-width: 800px) {
      .historyPane .lockButton:hover, .historyPane .lockedButton:hover, .historyPane .unlockedButton:hover {
        fill: #006FAB; } }
  .historyPane .lockedButton {
    fill: #732a2a; }
  .historyPane .unlockedButton {
    fill: black; }
  .historyPane .lockerIcon {
    height: 2em; }
    @media screen and (min-width: 800px) {
      .historyPane .lockerIcon {
        height: 2.3em; } }

.timelineWidget {
  display: none; }
  @media screen and (min-width: 800px) {
    .timelineWidget {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      height: 90px;
      background-color: #006FAB;
      padding: 0.3em 1em 0.3em 1em; } }
  .timelineWidget .timelineBox {
    flex: 1 1 auto;
    position: relative; }
    .timelineWidget .timelineBox .timelineBoxTitle {
      text-align: center;
      color: white; }
    .timelineWidget .timelineBox .timelineLifeline, .timelineWidget .timelineBox .timelineLifelineGuide {
      height: 3px;
      position: absolute;
      top: 90%;
      background: white;
      transform: translate3d(0, -1px, 0);
      transition: background 0.3s; }
      .timelineWidget .timelineBox .timelineLifeline.active, .timelineWidget .timelineBox .active.timelineLifelineGuide {
        background: #41BCFF;
        height: 5px;
        transform: translate3d(0, -2px, 0); }
    .timelineWidget .timelineBox .timelineLifelineGuide {
      background: darkgray;
      height: 1px;
      width: 100%;
      transform: translate3d(0, 0, 0); }
    .timelineWidget .timelineBox .timelineMarker {
      position: absolute;
      height: 50px;
      width: 20px;
      bottom: 10%;
      transform: translate(-50%, 0%);
      stroke: white;
      fill: white;
      z-index: 5; }
      .timelineWidget .timelineBox .timelineMarker circle {
        transition: stroke 0.3s, fill 0.3s; }
        .timelineWidget .timelineBox .timelineMarker circle:hover {
          stroke: #41BCFF;
          fill: #41BCFF; }
      .timelineWidget .timelineBox .timelineMarker .timelineMarkerItem {
        cursor: pointer; }
    .timelineWidget .timelineBox .selected {
      z-index: 10;
      stroke: #41BCFF; }
      .timelineWidget .timelineBox .selected circle {
        fill: black; }
    .timelineWidget .timelineBox .timelineScale, .timelineWidget .timelineBox .timelineScaleHalf, .timelineWidget .timelineBox .timelineScaleFull {
      position: absolute;
      bottom: 20%;
      height: 10px;
      width: 1px;
      background: darkgray; }
    .timelineWidget .timelineBox .timelineScaleHalf {
      height: 20px; }
    .timelineWidget .timelineBox .timelineScaleFull {
      height: 30px; }
    .timelineWidget .timelineBox .zoomBoxYear {
      position: absolute;
      width: 100%;
      height: 90%;
      top: 0%;
      left: 0%;
      z-index: 2;
      cursor: zoom-in; }
      .timelineWidget .timelineBox .zoomBoxYear:hover {
        background: rgba(255, 255, 255, 0.25); }
    .timelineWidget .timelineBox .zoomIcon {
      position: absolute;
      top: 0%;
      right: 0%;
      stroke: transparent;
      fill: transparent;
      height: 2em;
      transition: fill 0.5s; }
    .timelineWidget .timelineBox .zoomBoxMonth {
      position: absolute;
      height: 90%;
      top: 0%;
      z-index: 2;
      cursor: zoom-in; }
      .timelineWidget .timelineBox .zoomBoxMonth .zoomIcon {
        left: 50%;
        transform: translate(-50%, 0%); }
      .timelineWidget .timelineBox .zoomBoxMonth:hover {
        background: rgba(255, 255, 255, 0.25); }
    .timelineWidget .timelineBox .zoomOutButton {
      position: absolute;
      top: 0;
      left: 0;
      width: 3em;
      height: 3em;
      z-index: 15;
      border: none;
      outline: none;
      background: transparent;
      fill: white;
      cursor: pointer; }
      .timelineWidget .timelineBox .zoomOutButton:hover .zoomOutIcon {
        transform: scale(1.2); }
      .timelineWidget .timelineBox .zoomOutButton .zoomOutIcon {
        transition: transform 0.3s, fill 0.3s;
        width: 2em;
        height: 2em; }
  .timelineWidget .timelineWidgetNavPanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center; }
    .timelineWidget .timelineWidgetNavPanel .arrowButton .timelineWidgetArrow, .timelineWidget .timelineWidgetNavPanel .arrowButton .timelineWidgetLeftArrow, .timelineWidget .timelineWidgetNavPanel .arrowButton .timelineWidgetRightArrow {
      stroke: white;
      height: 3em; }
    .timelineWidget .timelineWidgetNavPanel .arrowButton .timelineWidgetLeftArrow {
      transform: rotate(180deg); }
    .timelineWidget .timelineWidgetNavPanel .arrowButton.left {
      margin-right: 1em; }
    .timelineWidget .timelineWidgetNavPanel .arrowButton.right {
      margin-left: 1em; }

.rdap, .rdap-was, .rdap-is {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Nunito", "Arial", sans-serif; }
  .rdap table, .rdap-was table, .rdap-is table {
    border-collapse: collapse;
    margin: auto; }
  .rdap td, .rdap-was td, .rdap-is td {
    padding: 0 0.15em; }
  .rdap td:first-child, .rdap-was td:first-child, .rdap-is td:first-child {
    vertical-align: top;
    font-family: "Nunito", "Arial", sans-serif;
    color: #8c8c8c;
    text-align: right;
    padding-right: 1em; }
  .rdap .spacer td, .rdap-was .spacer td, .rdap-is .spacer td {
    padding: 0.2em; }

.rdap-was .diff-modified {
  background-color: #ffffdd; }
  .rdap-was .diff-modified td:first-child:before {
    width: 1em;
    content: "!";
    float: left;
    text-align: left; }

.rdap-was .diff-new {
  color: transparent;
  background-color: #f4f4f4; }
  .rdap-was .diff-new td:first-child {
    color: transparent; }
  .rdap-was .diff-new a {
    display: none; }

.rdap-was .diff-unchanged td:first-child:before {
  width: 1em;
  content: " ";
  float: left;
  text-align: left; }

.rdap-was .diff-deleted {
  background-color: #ffdce0; }
  .rdap-was .diff-deleted td:first-child:before {
    width: 1em;
    content: "-";
    float: left;
    text-align: left; }

.rdap-was .diff-word-new {
  display: none; }

.rdap-was .diff-word-deleted {
  background-color: #ffff00; }

.rdap-is .diff-modified {
  background-color: #ffffdd; }
  .rdap-is .diff-modified td:first-child:before {
    width: 1em;
    content: "!";
    float: left;
    text-align: left; }

.rdap-is .diff-new {
  background-color: #ddffdd; }
  .rdap-is .diff-new td:first-child:before {
    width: 1em;
    content: "+";
    float: left;
    text-align: left; }

.rdap-is .diff-unchanged td:first-child:before {
  width: 1em;
  content: " ";
  float: left;
  text-align: left; }

.rdap-is .diff-deleted {
  color: transparent;
  background-color: #f4f4f4; }
  .rdap-is .diff-deleted td:first-child {
    color: transparent; }
  .rdap-is .diff-deleted a {
    display: none; }

.rdap-is .diff-word-new {
  background-color: #ffff00; }

.rdap-is .diff-word-deleted {
  display: none; }

.rdap-mobile {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Nunito", "Arial", sans-serif;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 1500px) {
    .rdap-mobile {
      display: none; } }
  .rdap-mobile .diff-modified {
    background-color: #ffffdd; }
    .rdap-mobile .diff-modified:before {
      color: #8c8c8c;
      width: 1em;
      content: "!";
      float: left;
      text-align: left; }
  .rdap-mobile .diff-new {
    background-color: #ddffdd; }
    .rdap-mobile .diff-new:before {
      color: #8c8c8c;
      width: 1em;
      content: "+";
      float: left;
      text-align: left; }
  .rdap-mobile .diff-unchanged:before {
    color: #8c8c8c;
    width: 1em;
    content: " ";
    float: left;
    text-align: left; }
  .rdap-mobile .diff-deleted {
    background-color: #ffdce0; }
    .rdap-mobile .diff-deleted:before {
      color: #8c8c8c;
      width: 1em;
      content: "-";
      float: left;
      text-align: left; }
  .rdap-mobile .diff-word-new {
    background-color: #acf2bd; }
  .rdap-mobile .diff-word-deleted {
    background-color: #ffa2ad;
    text-decoration: line-through; }
  .rdap-mobile .mobileLineTitle {
    color: #8c8c8c; }
  .rdap-mobile .mobileRemovedLine {
    background-color: #ffdce0;
    text-decoration: line-through; }
  .rdap-mobile .mobileAddedLine {
    background-color: #ddffdd; }
  .rdap-mobile .mobileRdapDiff {
    margin-bottom: 0.5em; }
  .rdap-mobile hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em; }

.diffPanel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex: 1 1 auto;
  overflow: auto;
  flex-wrap: nowrap;
  height: 100%;
  padding-top: 1em;
  padding-right: 0.6em;
  padding-left: 0.6em; }
  @media screen and (min-width: 800px) {
    .diffPanel {
      padding-right: 0;
      padding-left: 0; } }
  .diffPanel .diffPanelItem {
    flex: 1;
    display: none;
    padding: 0 0.7em; }
    @media screen and (min-width: 1500px) {
      .diffPanel .diffPanelItem {
        display: inline-block; } }
  .diffPanel .diffPanelItem:first-child .diff {
    border-left: none; }
  .diffPanel .diff {
    display: inline-block;
    border-left: 1px dashed black;
    padding-left: 1.2em;
    margin: 1em;
    white-space: pre;
    font-family: "Inconsolata", monospace;
    font-size: 80%;
    vertical-align: top; }
    .diffPanel .diff .changed {
      background-color: #ffffdd; }
    .diffPanel .diff .added {
      background-color: #ddffdd; }
    .diffPanel .diff .removed::before {
      margin-left: -1.1em;
      position: relative;
      top: -0.6em;
      content: '▶';
      color: #cc4444; }
    .diffPanel .diff .removed {
      height: 2px;
      display: block;
      background-color: #cc4444; }

.clearfix {
  clear: both; }

.timeline {
  width: 100%;
  height: 1em;
  stroke: none; }
  .timeline .empty {
    fill: #eee; }
  .timeline .existed {
    stroke: #999;
    fill: #97df81; }
    .timeline .existed:hover {
      fill: #b9e9aa; }
